@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.dark {
  background: #222;
  color: white;
  transition: all 0.7s ease-in-out;
}
.dark-primary {
  background: #00a;
  color: white;
  transition: all 0.7s ease-in-out;
}


.light {
  background: white;
  color: black;
  transition: all 0.7s ease-in-out;
}
.light-primary {
  background: #00f;
  color: white;
  transition: all 0.7s ease-in-out;
}
