<UI::Article @title="Persisting Theme" as |article|>
  <article.paragraph>
    Because the theme is managed by the emberThemed service setting the theme based on things like Routing events or user interaction is trivial. Persisting a user-selected theme is also simple. This example demonstrates persisting the user-selected theme to local storage on route exit and restoring it on route entry.
  </article.paragraph>
  <article.paragraph>
    To make it easier to demonstrate this route has a few extra themes available, try selecting one of them and refreshing or leaving the route and returning. You will see that the route you selected is restored on re-entry to the route.
  </article.paragraph>
  <article.paragraph>
    The route code can be viewed <a href="https://github.com/dknutsen/ember-themed/blob/master/tests/dummy/app/routes/examples/persistence.js">here</a>.
  </article.paragraph>
</UI::Article>