<div class="application-wrapper" {{themed}}>
  <h2 id="title">Welcome to Ember</h2>

  <ThemeChooser />

  <div style="width:120px;height:120px" class="something something-else" {{themed "primary"}}></div>
  {{outlet}}
</div>